<!DOCTYPE html>
<html style="margin: 0; padding: 0; width: $widthpx; height: $heightpx;">
<body style="margin: 0; padding: 0; width: $widthpx; height: $heightpx;">
<span id="drawing" style="margin: 0; padding: 0; width: $widthpx; height: $heightpx;"></span>
<script src="$svgjs" type="text/javascript"></script>
<script type="text/javascript">
    var draw = SVG('drawing').size($width, $height);
        #foreach( $circle in $circles )
        draw.circle($circle.Radius).opacity($circle.opacity).attr({fill: $circle.Rgb}).move($circle.X, $circle.Y);
        #end
</script>
<script type="text/javascript">
    document.getElementById("SvgjsSvg1002").remove();
    document.getElementById("SvgjsSvg1000").setAttribute("style",
            "margin: 0; padding: 0; width: $widthpx; height: $heightpx;");
</script>
</body>
</html>